*{
    box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-color: #181c1f;
  color: #bdd1d4;
  margin: 2rem;
}
header{
    display: flex;
    margin: 2rem 0;
    align-items: center;
    gap: 1.5rem;

}

header img{
    width: 5rem;
    object-fit:contain;
}

header h1 {
    margin: 0rem;
    color: aqua;
}
header p {
    margin: 0rem;
    color: aquamarine;
}
#tabs {
    max-width: 32rem;
    margin: 2rem 0;
    overflow: hidden;
}
#tabs menu {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.25rem;

}

#tabs button {
    font: inherit;
    font-size: 0.85rem;
    background-color: #282f33;
    border: none;
    border-bottom-color: #48d9f3;
    color: #e0eff1;
    border-radius: 4px 4px 0 0;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#tabs button:hover,
#tabs button.active {
    background-color: yellow;
    color: #273133;
}

#tab-content {
    background-color: #2d3942;
    border-radius: 0 4px 4px 4px;
    padding: 1rem;
}

#tab-content li {
    margin: 0.75rem 0;
  }

  
  #tabsone {
    max-width: 32rem;
    margin: 2rem 0;
    overflow: hidden;
    display: flex;;
    flex-direction: row;
    gap: 0.2rem;
}
#tabsone menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 8rem;
    

}

#tabsone button {
    font: inherit;
    font-size: 0.85rem;
    background-color: #282f33;
    border: none;
    border-bottom-color: #48d9f3;
    color: #e0eff1;
    border-radius: 4px 0 0 4px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#tabsone button:hover,
#tabsone button.active {
    background-color: yellow;
    color: #273133;
}

#tabsone-content {
    background-color: yellow;
    /* #2d3942; */
    border-radius: 0px 4px 4px 0px;
    padding: 1rem;
    color: #000;
}

#tabsone-content li {
    margin: 0.75rem 0;
  }
  
@media (prefers-reduced-motion: no-preference) {
    img {
      animation: img-spin infinite 20s linear;
    }
  }
  
  @keyframes img-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}